---
import recipes from "../../data/recipes.json";
import chapters from "../../data/chapters.json";
import Layout from "../../layouts/Layout.astro";
import ArrowCard from "../../components/ArrowCard.astro";
import ChapterNavigation from "../../components/ChapterNavigation.astro";

const { slug } = Astro.params;

const categoryIndex = chapters.findIndex((chapter) => chapter.slug === slug);
const category = chapters[categoryIndex];
const prevChapter = categoryIndex > 0 ? chapters[categoryIndex - 1] : null;
const nextChapter =
    categoryIndex < chapters.length - 1 ? chapters[categoryIndex + 1] : null;
const filteredRecipes =
    category?.type === "category"
        ? recipes.filter((recipe) => recipe.category === slug)
        : [];

if (!category) {
    throw new Error(`Category not found for slug: ${slug}`);
}
---

<Layout
    title={category.title}
    description={`Resep untuk kategori ${category.title}`}
>
    <main
        class="max-w-screen-lg mx-auto space-y-6 px-4 md:px-24 lg:px-8 py-8 md:py-12"
    >
        <section class="space-y-6">
            <h2 class="text-xl md:text-2xl font-semibold">
                {category.chapter ? `${category.chapter}.` : ""}{category.title}
            </h2>

            <div>
                <input
                    type="text"
                    id="searchInput"
                    placeholder="Cari resep masakan..."
                    class="w-full p-2 border border-neutral-300 rounded-lg focus:outline-none focus:border-blue-500"
                />
            </div>

            <div id="resultsContainer">
                {
                    filteredRecipes.length > 0 ? (
                        <ul class="not-prose flex flex-col gap-4 pt-4">
                            {filteredRecipes.map((recipe) => (
                                <li data-recipe={recipe.title.toLowerCase()}>
                                    <ArrowCard
                                        entry={{
                                            collection: null,
                                            slug: recipe.slug,
                                            data: {
                                                title: recipe.title,
                                                description: recipe.description,
                                            },
                                        }}
                                    />
                                </li>
                            ))}
                        </ul>
                    ) : (
                        <p class="text-center text-neutral-500 italic py-8">
                            Belum ada resep yang tersedia untuk bagian ini.
                        </p>
                    )
                }
            </div>
        </section>

        <p class="text-end text-xs text-neutral-500">
            Total <span id="totalRecipes">{filteredRecipes.length}</span> Resep
        </p>

        <ChapterNavigation
            prevTitle={prevChapter?.title}
            prevLink={prevChapter && prevChapter.type === "category"
                ? `/daftar-isi/${prevChapter.slug}/`
                : `/${prevChapter?.slug}/`}
            nextTitle={nextChapter?.title}
            nextLink={nextChapter && nextChapter.type === "category"
                ? `/daftar-isi/${nextChapter.slug}/`
                : `/${nextChapter?.slug}/`}
        />
    </main>
</Layout><script is:inline>
    document.addEventListener("astro:page-load", () => {
        const searchInput = document.getElementById("searchInput");
        const totalRecipesElement = document.getElementById("totalRecipes");

        if (searchInput) {
            const resultsContainer =
                document.getElementById("resultsContainer");
            const recipes = resultsContainer.querySelectorAll("li");

            searchInput.addEventListener("input", (event) => {
                const query = event.target.value.toLowerCase();
                let visibleCount = 0;

                recipes.forEach((recipe) => {
                    const recipeTitle = recipe.getAttribute("data-recipe");
                    if (recipeTitle.includes(query)) {
                        recipe.style.display = "block";
                        visibleCount++;
                    } else {
                        recipe.style.display = "none";
                    }
                });

                // Perbarui total resep yang terlihat
                totalRecipesElement.textContent = visibleCount;
            });
        }
    });
</script>
